<h1>使用者檔案:<%=@user.try(:email)%></h1>




分類:
<%= link_to "News",essays_path(:cat=>"1") %>
<%= link_to "Sports",essays_path(:cat=>"2") %>
<%= link_to "Serious",essays_path(:cat=>"3") %>
<%= link_to "Sicience",essays_path(:cat=>"4") %>
<%= link_to "Gosship",essays_path(:cat=>"5") %>
<%= link_to "All",essays_path %>


<table class="table">
<tr>
	<td>
		主題
	</td>
	<td>
		使用者
	</td>
	<td>
		分類
	</td>
	<td>
		貼文時間
	</td>
	<td>
	
		<%= link_to "最後回覆時間",essays_path(:order=>"last_comment",:cat=>@cat)%>
	</td>
	<td>
		<%= link_to "留言數",essays_path(:order=>"comments_cont",:cat=>@cat)%>
	</td>
</tr>
<% @essays.each do |e|%>

<tr>
	<td>
		<%=link_to e.topic,essay_path(e)%>
	</td>
	<td>
		<%=link_to e.user.try(:email),user_path(e.user)%>
	</td>
	<td>
		<%e.categorys.each do|c|%>
		<%=c.try(:name)%>
		<%end%>
	</td>
	<td>
		<%=e.created_at%>
	</td>
	<td>
		<%=e.comments.last.try(:created_at)%>
	</td>
	<td>
		<%=e.comments.size%>
	</td>

	<td>
	<%= link_to "編輯文章",edit_essay_path(e),:class=>"btn btn-default"%>
	<%=link_to "刪除文章", essay_path(e),:method=>:delete,:class=>"btn btn-danger"%>
	</td>

</tr>
<%end%>
</table>