<%=f.label :topic,"標題"%>
<%=f.text_field :topic%>

<%=f.label :content,"內容"%>
<%=f.text_area :content%>

   <div class="form-group">

     <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
    </div>