<h1>極簡論壇</h1>

<h2>主題</h2>
<table class="table">
<% @essays.each do |e|%>
<tr>
	<td>
		<%=link_to e.topic,essay_path(e)%>
	</td>
	<td>
		<%=e.user.try(:email)%>
	</td>

	<td>
	<%= link_to "編輯文章",edit_essay_path(e),:class=>"btn btn-default"%>
	<%=link_to "刪除文章", essay_path(e),:method=>:delete,:class=>"btn btn-danger"%>
	</td>

</tr>
<%end%>
</table>




<%=link_to "發表新文章",new_essay_path%>