<h1>極簡論壇</h1>


<table class="table">
<tr>
	<td>
		主題
	</td>
	<td>
		使用者
	</td>
	<td>
		分類
	</td>
	<td>
		貼文時間
	</td>
	<td>
		最後回覆時間
	</td>
	<td>
		<%= link_to "留言數",essays_path(:order=>"comments_cont")%>
	</td>
</tr>
<% @essays.each do |e|%>

<tr>
	<td>
		<%=link_to e.topic,essay_path(e)%>
	</td>
	<td>
		<%=e.user.try(:email)%>
	</td>
	<td>
		<%e.categorys.each do|c|%>
		<%=c.try(:name)%>
		<%end%>
	</td>
	<td>
		<%=e.created_at%>
	</td>
	<td>
		<%=e.comments.last.try(:created_at)%>
	</td>
	<td>
		<%=e.comments.size%>
	</td>

	<td>
	<%= link_to "編輯文章",edit_essay_path(e),:class=>"btn btn-default"%>
	<%=link_to "刪除文章", essay_path(e),:method=>:delete,:class=>"btn btn-danger"%>
	</td>

</tr>
<%end%>
</table>




<%=link_to "發表新文章",new_essay_path%>